
<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by Laila Rodriguez. Artist, designer and life coach who is passionate about inspiring people to access and show up as their greatness in life.
	</p>
	<br />

	

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'newLailaSquare.jpg', class: 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="test-center">Laila Rodriguez</h2>
		<br />

		<p>
		Laila Rodriguez stated her carrier as an artist after graduating from the School of the Art institute of Chicago where she studied painting and fiber art. She quickly became interested in holistic health practices such as Yoga and Chinese Medicine. She has dedicated most of her adult life to study the realm of healing and coaching, and hopes to make that accessible to the world through the use of technology.
		</p>
	</div>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />
</div>